# Combining DataFrames
In this notebook, we will learn how to combine multiple DataFrames using techniques like concatenation and joins.

### Combining DataFrames with Pandas

In [2]:
import pandas as pd

In [12]:

# DataFrame 1: Sales from East region
df_east = pd.DataFrame({
    'OrderID': [101, 102],
    'Product': ['Printer', 'Desk'],
    'Category': ['Office Supplies', 'Furniture'],
    'Sales': [250, 300],
    'Quantity': [2, 1],
    'Region': ['East', 'East']
})

# DataFrame 2: Sales from West region
df_west = pd.DataFrame({
    'OrderID': [103, 104],
    'Product': ['Chair', 'Monitor'],
    'Category': ['Furniture', 'Technology'],
    'Sales': [150, 400],
    'Quantity': [3, 2],
    'Region': ['West', 'West']
})

### Concatenating DataFrames
Concatenation is a simple way to combine DataFrames by stacking them either vertically or horizontally.

In [13]:
combined_df = pd.concat([df_east, df_west])
print(combined_df)

   OrderID  Product         Category  Sales  Quantity Region
0      101  Printer  Office Supplies    250         2   East
1      102     Desk        Furniture    300         1   East
0      103    Chair        Furniture    150         3   West
1      104  Monitor       Technology    400         2   West

### Setting an Index

In [14]:
# Set OrderID as the index
combined_df.set_index('OrderID', inplace=True)
print(combined_df)

         Product         Category  Sales  Quantity Region
OrderID
101      Printer  Office Supplies    250         2   East
102         Desk        Furniture    300         1   East
103        Chair        Furniture    150         3   West
104      Monitor       Technology    400         2   West

### Types of Joins
Joins allow us to combine DataFrames based on a common key. Different types of joins (inner, left, right, outer) determine how the data is merged.

In [9]:
shipping_info = pd.DataFrame({
    'OrderID': [101, 102, 104, 105],
    'ShipDate': ['2024-04-01', '2024-04-03', '2024-04-05', '2024-04-07'],
    'Carrier': ['UPS', 'FedEx', 'DHL', 'USPS']
}).set_index('OrderID')

shipping_info

           ShipDate Carrier
OrderID
101      2024-04-01     UPS
102      2024-04-03   FedEx
104      2024-04-05     DHL
105      2024-04-07    USPS

### Inner Join

In [10]:
inner_joined = combined_df.join(shipping_info, how='inner')
inner_joined

         Product         Category  Sales  Quantity Region    ShipDate Carrier
OrderID
101      Printer  Office Supplies    250         2   East  2024-04-01     UPS
102         Desk        Furniture    300         1   East  2024-04-03   FedEx
104      Monitor       Technology    400         2   West  2024-04-05     DHL

### Left Join

In [15]:
left_joined = combined_df.join(shipping_info, how='left')
print(left_joined)

         Product         Category  Sales  Quantity Region    ShipDate Carrier
OrderID
101      Printer  Office Supplies    250         2   East  2024-04-01     UPS
102         Desk        Furniture    300         1   East  2024-04-03   FedEx
103        Chair        Furniture    150         3   West         NaN     NaN
104      Monitor       Technology    400         2   West  2024-04-05     DHL

### Right Join

In [16]:
right_joined = combined_df.join(shipping_info, how='right')
print(right_joined)

         Product         Category  Sales  Quantity Region    ShipDate Carrier
OrderID
101      Printer  Office Supplies  250.0       2.0   East  2024-04-01     UPS
102         Desk        Furniture  300.0       1.0   East  2024-04-03   FedEx
104      Monitor       Technology  400.0       2.0   West  2024-04-05     DHL
105          NaN              NaN    NaN       NaN    NaN  2024-04-07    USPS

### Outer Join

In [17]:
outer_joined = combined_df.join(shipping_info, how='outer')
print(outer_joined)

         Product         Category  Sales  Quantity Region    ShipDate Carrier
OrderID
101      Printer  Office Supplies  250.0       2.0   East  2024-04-01     UPS
102         Desk        Furniture  300.0       1.0   East  2024-04-03   FedEx
103        Chair        Furniture  150.0       3.0   West         NaN     NaN
104      Monitor       Technology  400.0       2.0   West  2024-04-05     DHL
105          NaN              NaN    NaN       NaN    NaN  2024-04-07    USPS

### Handling Column Name Collisions
When combining DataFrames, column name collisions can occur. We can resolve this by using suffixes to differentiate columns.

In [21]:
sales_summary = combined_df.copy()
sales_summary['Sales'] = [500, 600, 300, 400]  # Example for duplicate 'Sales'

# Avoid conflict with suffixes
joined = combined_df.join(sales_summary, lsuffix='_original', rsuffix='_summary')
joined

,Product_original,Category_original,Sales_original,Quantity_original,Region_original,Product_summary,Category_summary,Sales_summary,Quantity_summary,Region_summary
OrderID,,,,,,,,,,
101,Printer,Office Supplies,250,2,East,Printer,Office Supplies,500,2,East
102,Desk,Furniture,300,1,East,Desk,Furniture,600,1,East
103,Chair,Furniture,150,3,West,Chair,Furniture,300,3,West
104,Monitor,Technology,400,2,West,Monitor,Technology,400,2,West